#mapgps {
  height: 1080px;
  box-shadow: 0px 13px 19px rgba(0, 0, 0, 0.09);
  border-radius: 2px;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  -ms-border-radius: 2px;
  -o-border-radius: 2px;
  margin: 2px;
}
.leaflet-control-attribution a svg {
  width: 0;
  height: 0;
}

.mapgps__legend {
  position: absolute;
  top: 880px;
  left: 20px;
  z-index: 500;
  background-color: rgba(255, 255, 255, 0.6);
  padding: 10px 20px;
  border-radius: 3px;
  color: #3d5c99;
  font-weight: 600;
  font-size: 14px;
  box-shadow: 0px 13px 19px rgba(0, 0, 0, 0.09);
}
.mapgps__legend div {
  padding-bottom: 5px;
}
.mapgps__legend label {
  padding-left: 5px;
}
/*  */
.mapgps__legend input[type="checkbox"] {
  cursor: pointer;
  top: 7px;
  margin-right: 8px;
  appearance: none;
  width: 20px;
  height: 20px;
  border: 2px solid #555;
  border-radius: 5px;
  outline: none;
  cursor: pointer;
  position: relative;
}

.red:checked {
  background-color: red; 
  border-color: red;
}
.green:checked {
  background-color: green; 
  border-color: green;
}
.blue:checked {
  background-color: blue; 
  border-color: blue;
}
.black:checked {
  background-color: black; 
  border-color: black;
}
.purple:checked {
  background-color: purple; 
  border-color: purple;
}

.mapgps__legend input[type="checkbox"]:checked::after {
  content: '';
  position: absolute;
  top: 1px;  /* Поднять на 1 пиксель */
  left: 5px; /* Сдвинуть влево на 1 пиксель */
  width: 5px; /* Увеличить ширину линии */
  height: 10px; /* Увеличить высоту линии */
  border: solid white;
  border-width: 0 3px 3px 0; /* Увеличить толщину линии */
  transform: rotate(45deg);
}

.mapgps__legend input[type="checkbox"]:hover {
  border-color: #888;
}
.mapgps__legend div label:hover {
cursor: pointer;
text-decoration: underline;
}
.mapgps__weather {
  position: absolute;
  top: 300px;
  right: 20px;
  z-index: 500;
  width: 250px;
  opacity: 0.9;
  box-shadow: 0px 13px 19px rgba(0, 0, 0, 0.07);
}
.mapgps__weather div {
  border-radius: 2px;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  -ms-border-radius: 2px;
  -o-border-radius: 2px;
}
.mapgps__weather-min {
  display: none;
}
.mapgps__logo {
  position: absolute;
  z-index: 500;
  top: 1020px;
  right: 10px;
  opacity: 0.9;
}
.mapgps__logo img {
  width: 50px;
}

/*  */

@media (max-width: 2200px) {
  #mapgps {
    height: 700px;
  }
  .mapgps__legend {
    top: 530px;
    left: 15px;
  }
  .mapgps__weather {
    top: 20px;
    right: 20px;
    width: 300px;
  }
  .mapgps__logo {
    top: 650px;
    right: 5px;
  }
  .mapgps__logo img {
    width: 40px;
  }
}
@media (max-width: 1200px) {
  #mapgps {
    height: 600px;
  }
  .mapgps__legend {
    top: 430px;
    left: 15px;
  }
  .mapgps__weather {
    display: none;
  }
  .mapgps__weather-min {
    display: block;
    position: absolute;
    top: 10px;
    right: 20px;
    z-index: 500;
    width: 100px;
    transform: scale(0.9);
    -webkit-transform: scale(0.9);
    -moz-transform: scale(0.9);
    -ms-transform: scale(0.9);
    -o-transform: scale(0.9);
    }
    .mapgps__logo {
      top: 550px;
      right: 5px;
    }
    .mapgps__logo img {
      width: 40px;
    }
}

@media (max-width: 767px) {
  #mapgps {
    height: 450px;
  }
  .mapgps__legend input[type="checkbox"] {
    width: 15px;
    height: 15px;
    top: 4px;
    margin-right: 3px;
  }
  .mapgps__legend input[type="checkbox"]:checked::after {
    top: 0px;  /* Поднять на 1 пиксель */
    left: 3px; /* Сдвинуть влево на 1 пиксель */
    width: 5px; /* Увеличить ширину линии */
    height: 9px; /* Увеличить высоту линии */
    border-width: 0 2px 2px 0; /* Увеличить толщину линии */
    transform: rotate(45deg);
  }

  .mapgps__legend {
    top: 300px;
    left: 20px;
    padding: 5px 10px;
    font-weight: 600;
    font-size: 11px;
}
  .mapgps__legend div {
    padding-bottom: 5px;
  }
  .mapgps__legend label {
    padding-left: 5px;
  }
  .mapgps__weather-min {
    top: -20px;
    right: 0px;
    width: 100px;
    transform: scale(0.6);
    -webkit-transform: scale(0.6);
    -moz-transform: scale(0.6);
    -ms-transform: scale(0.6);
    -o-transform: scale(0.6);
}
.mapgps__logo {
  top: 400px;
  right: 5px;
}
.mapgps__logo img {
  width: 40px;
}
}

@media (max-width: 479px) {
.mapgps__title {
  left: 10px;
  padding: 3px 8px;
  top: 510px;
  font-size: 8px;
  max-width: 150px;
}
.mapgps__legend {
  top: 320px;
  left: 10px;
  padding: 3px 8px;
  font-weight: 600;
  font-size: 10px;
}
.mapgps__weather-min {
  top: -35px;
  right: -15px;
  transform: scale(0.4);
  -webkit-transform: scale(0.4);
  -moz-transform: scale(0.4);
  -ms-transform: scale(0.4);
  -o-transform: scale(0.4);
}
.mapgps__logo {
  top: 410px;
  right: 5px;
}
.mapgps__logo img {
  width: 30px;
}
}
